body aside {
    float: left;
    width: 26%;
    height: 100%;
    padding: 1cm 0px 0px 40px;
    display: block;
}

aside ul {
    border-radius: 30px;
    padding: 20px 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

aside ul a {
    color: rgb(24, 57, 24);
    background-color: #ccd5ae;
    text-decoration: none;
    font-size: larger;
    display: block;
    padding: 5px 20px;
    line-height: 2;
    font-weight: bold;
}

aside ul li a i {
    float: right;
    padding: 5px 0px 5px 5px;
    background: none;
}

aside li>a>i .dropdown {
    position: absolute;
    right: 0;
    margin: 10px;
    transition: 0.3s ease;
}

.detailmenu1,
.detailmenu2,
.detailmenu3 {
    background: rgb(137, 161, 98, 0.5);
    margin-left: 10px;
    padding: 10px 5px;
    display: none;
}

.detailproject {
    display: block;
}

.detailproject a,
.detailproject {
    background: rgba(255, 255, 255, 0);
}

.detailproject:hover,
.detailproject a:hover {
    background: rgb(199, 213, 114);
    color: rgb(98, 123, 65);
    border-radius: 20px;
}

i.dropdown:hover {
    color: rgb(121, 157, 59);
}

aside>ul>li {
    display: block;
    text-decoration: none;
    color: darkolivegreen;
    background: rgb(137, 161, 98, 0);
}

a.allgoods {
    font-size: 25px;
    text-align: center;
    height: 50px;
}

hr {
    border: 2px solid rgb(24, 57, 24);
    margin-bottom: 10px;
}

.fixclear {
    clear: both;
}