* {
    box-sizing: border-box;
    margin: 0px auto;
}

footer {
    margin-top: 1cm;
    padding: 0px;
}

.footerh5 {
    background-color: #CCD5AE;
    text-align: center;
    font-family: monospace;
    font-size: 14px;
    line-height: 22px;
    padding: 20px;
}

.footerh5 a {
    color: #6b705c;
    text-decoration: none;
    background-color: #CCD5AE;
}