* {
    margin: 0 auto;

}

body {
    background-color: #fefae0;
}

.titlesec {
    text-align: center;
}

/* .container {
    display: inline !important;
} */

.indextitle {
    text-align: center;
    margin: 40px;
}

.concept {
    display: flex;
    margin: 30px 80px 30px 80px;
}

.indeximg {
    float: center;
    margin-top: 60px;
    width: 50%;
}

.indextextl {
    align-self: center;
    text-align: center;
    float: left;
    width: 25%;
}

.indextextr {
    align-self: center;
    text-align: center;
    float: right;
    width: 25%;
}

.concept p {
    line-height: 28px;
    font-size: 15px;
    font-family: 新細明體;
    color: #3a5a40;
    font-weight: bold;
}

.ad2 {
    text-align: center;
    width: 70%;
}

.ad2 img {
    border-radius: 30px;
}

.outer {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    margin: 0 auto;
}

.outer .indexcontainer {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    display: flex;
    transition: all 1s;
}

.outer .indexcontainer a {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.outer .indexcontainer a img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.outer .shift .btn {
    /* 絕對定位且垂直置中 */
    background-color: white;
    color: #ccd5ae;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;

    font-size: 40px;
    font-weight: bold;

    line-height: 50px;
    text-align: center;

    user-select: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;

    /* 不透明度 */
    opacity: 0.5;
}

.outer .shift .left {
    left: 20px;
}

.outer .shift .right {
    right: 20px;
}

.outer .bottom {
    /* 絕對定位水平置中 */
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;

    width: max-content;
}

.bottom .btm {
    height: 5px;
    width: 40px;
    background-color: #ccd5ae;
    border: 0px;
    cursor: pointer;

    opacity: 0.5;
}

.outer:hover .bottom .btm {
    opacity: 1;
}

.outer:hover .shift .btn {
    opacity: 1;
}

.top1 {
    margin: 20px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top2 {
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top3 {
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clearfix {
    clear: both;
}